<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.rchavarria.library.core.persistence.TeacherMapper">

    <resultMap id="teacherResult" type="es.rchavarria.library.core.domain.DetailedTeacher">
        <id column="idTeacher" property="idTeacher" javaType="long"/>
        <result column="name" property="name" javaType="string"/>
    </resultMap>

    <sql id="selectTeachers">
        SELECT * FROM teachers
    </sql>

    <select id="list" resultMap="teacherResult">
        <include refid="selectTeachers"/>
    </select>

    <select id="findById" resultMap="teacherResult" parameterType="long">
        <include refid="selectTeachers"/>
        WHERE idTeacher = #{idTeacher}
    </select>

</mapper>