<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.rchavarria.library.persistence.CourseMapper">

    <resultMap id="courseWithTeacher" type="es.rchavarria.library.domain.Course">
        <id column="idCourse" property="idCourse" javaType="long"/>
        <result column="title" property="title" javaType="string"/>
        <result column="level" property="level" javaType="es.rchavarria.library.domain.CourseLevel"/>
        <result column="hoursLong" property="hoursLong" javaType="float"/>
        <result column="active" property="active" javaType="boolean"/>
        <association property="teacher" column="idTeacher" 
                     resultMap="es.rchavarria.library.persistence.TeacherMapper.teacherResult"/>
    </resultMap>

    <sql id="selectCoursesWithTeachers">
        SELECT courses.*, teachers.*
        FROM courses 
        INNER JOIN teachers 
        ON teachers.idTeacher = courses.idTeacher
    </sql>

    <select id="list" resultMap="courseWithTeacher">
        <include refid="selectCoursesWithTeachers"/>
    </select>
    
    <select id="findById" resultMap="courseWithTeacher" parameterType="long">
        <include refid="selectCoursesWithTeachers"/>
        WHERE idCourse = #{idCourse}
    </select>

</mapper>