<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="es.rchavarria.library.persistence.CourseMapper">

    <select id="list" resultType="es.rchavarria.library.domain.Course">
        SELECT * FROM courses
    </select>

    <resultMap id="courseWithTeacher" type="es.rchavarria.library.domain.Course">
        <id column="idCourse" property="idCourse" javaType="long"/>
        <result column="title" property="title" javaType="string"/>
        <result column="level" property="level" javaType="es.rchavarria.library.domain.CourseLevel"/>
        <result column="hoursLong" property="hoursLong" javaType="float"/>
        <result column="active" property="active" javaType="boolean"/>
        <association property="teacher" column="idTeacher" resultMap="es.rchavarria.library.persistence.TeacherMapper.teacherResult"/>
    </resultMap>

    <select id="listWithTeachers" resultMap="courseWithTeacher">
        SELECT courses.*, teachers.* 
        FROM courses 
        INNER JOIN teachers 
        ON teachers.idTeacher = courses.idTeacher
    </select>

</mapper>